{% extends "layout.html" %}
{% block body %}
        <h1>About</h1>
	<p>KindleFolder allows you to send documents to your Kindle via your Dropbox folder instead of having to use email. In order to connect your Dropbox, go to the homepage and fill out your personal email address (we don't send out newsletters or spam, we have cooler things to do with our time) and your Kindle's email address. Then, proceed to connect our application with your Dropbox account on the next page. Once this is complete, you'll need to give us permission to email files to your Kindle, so please follow the steps below:</p>

<ol>
    <li>Go to Manage Your Kindle on Amazon.com or <a href='https://www.amazon.com/gp/digital/fiona/manage?ie=UTF8&ref_=ya_14&'>click here</a>.</li>
    <li>Go to &quot;Personal Document Settings&quot;, then under the &quot;Approved Personal Document E-mail List&quot;, click &quot;Add a new approved e-mail address&quot;.</li>
    <li>Enter &quot;unicorns@kindlefolder.us&quot; and then click &quot;Add Address&quot;. We like unicorns.</li>
    <li>Within the &quot;Apps&quot; folder of your Dropbox, a new folder will appear called &quot;KindleFolder&quot;. Any file that a Kindle can open will automatically be sent to your Kindle! Please note that this service uses Amazon's Kindle Personal Document Service. Charges may apply for use over 3G.</li>
</ol>

{% endblock %}
