{% extends "layout.html" %}
{% block body %}

	<h1>Questions? Comments? Troubleshooting?</h1>
	
	<p>If you have any feedback for us, or you are having any troube with
	KindleFolder, please email us at <a href="mailto:support@kindlefolder.us">support@kindlefolder.us</a></p>
	
	<p>Troubleshooting:</p>
	<ul>
		<li>Documents not sending: Did you add unicorns@kindlefolder.us to your Kindle whitelist? Visit the <a href="{{ url_for('about') }}">about page</a> to see how.</li>
		<li>Documents not sending: Have you recently changed your kindle email address? If so, <a href="{{ url_for('unsubscribe') }}">unsubscribe</a>, then sign up again.</li>
		<li>Service is slow: Please be aware that  the KindleFolder service runs off of Amazon Kindle&#39;s Personal Document Service, which can be slow at times.</li>
	</ul>
	
{% endblock %}
