{% extends "layout.html" %}
{% block body %}

	<h1>Questions? Comments? Troubleshooting?</h1>
	
	<p>If you have any feedback for us, or you are having any troube with
	KindleFolder, please email us at <a href="mailto:support@kindlefolder.us">
	support@kindlefolder.us</a></p>
	
	<p>Basic troubleshooting: did you make sure to</p>
	<ul>
		<li>Add unicorns@kindlefolder.us to your kindle whitelist?</li>
		<li>Change your kindle email address?</li>
		<li>Wait 5 minutes or so for files to be delivered? Sometimes kindle's file email service is slow.</li>
	</ul>
	
{% endblock %}
